* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.question {
  font-weight: bold;
  color: blueviolet;
}
.columns {
  columns: 3;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  z-index: -1;
  position: absolute;
}

body {
  margin: 0px;
}
main,
header {
  margin-left: 1rem;
}

header {
  font-size: 22pt;
  font-weight: bold;
  color: blueviolet;
  padding-top: 1rem;
}
.paragraph-italic {
  font-style: italic;
}

footer {
  border: 2px;
  border-color: blueviolet;
  border-style: dashed;
  padding: 5px;
  display: inline-block;
}

.effect:hover {
  border-style: groove;
  font-weight: bold;
}
