html {
  background-color: rgba(229, 204, 255, 0.2);
}
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  font-size: 24pt;
  color: blueviolet;
}

article {
  margin-left: 1rem;
}

.cover {
  width: 18rem;
  height: 24rem;
  margin-top: 1rem;
  border: 2px;
  border-color: rgba(00, 00, 00, 0.1);
  border-style: solid;
}

img {
  width: 36rem;
  height: 24rem;
  margin-top: 1rem;
  border: 2px;
  border-color: rgba(00, 00, 00, 0.1);
  border-style: solid;
}

footer {
  padding: 0.4rem;
  border-style: solid;
  border-color: blueviolet;
}

footer:hover {
  background-color: blueviolet;
  color: white;
}
